/* body {
    background-color: blueviolet;
}

.coach-name {
    display: flex;
    justify-content: center;
}

button:hover {
    cursor: pointer !important;
}

.header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: GrayText;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: solid;
    border-color: slategray;
    background-color: floralwhite;
}

.header-icon {
    display: flex;
    max-width: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-title {
    font-family: "Palatino Linotype";
}

.tab-list {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    font-weight: bold;
}

.tab-list li {
    display: flex;
    margin-right: 1rem;
    color: slategray;
}

.tab-list a {
    text-decoration: none;
}

.parent-portal {
    display: flex;
    padding: 0.7rem;
    border-radius: 5%;
    font-weight: bold;
    border: none;
    background-color: slategray;
    color: floralwhite;
}

.coach-image {
    display: flex;
    justify-content: center;
    background-color: slategray;
    padding: 5%;
}

.coach-image img {
    width: 35%;
    border-radius: 10%;
    border-color: floralwhite;
    border-width: 1rem;
    border-style: solid;
}

.coach-name {
    color: floralwhite;
}

.bio-text {
    background-color: gainsboro;
    padding: 3%;
}

.bio-text p {
    line-height: 1.5rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-top: 5rem;
    background-color: floralwhite;
  }
  
  .name-side {
    display: flex;
    flex-direction: column;
  }
  
  .page-side {
    display: flex;
    flex-direction: column;
  } */