.header {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: solid;
  border-color: slategray;
}

.header-title {
  font-family: "Palatino Linotype";
}

.tab-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  font-weight: bold;
}

.tab-list li {
  margin-right: 1rem;
}

.parent-portal {
  display: flex;
  padding: 0.7rem;
  border-radius: 5%;
  font-weight: bold;
  border: none;
  background-color: slategray;
  color: white;
}

.hero {
  position: relative;
  background-image: url("../assets/gymnastics-group.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-color: blueviolet;
}


.hero-text {
  position: absolute;
  top: 10vh;
  left: 30vw;
  font-family: "Palatino Linotype";
  color: white;
  font-size: xx-large;
}