body {
  margin: 0;
  background-color: floralwhite;
}

.header {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  color: GrayText;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: solid;
  border-color: slategray;
}

.header-title {
  font-family: "Palatino Linotype";
}

.tab-list {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  font-weight: bold;
}

.tab-list li {
  margin-right: 1rem;
}

.parent-portal {
  display: flex;
  padding: 0.7rem;
  border-radius: 5%;
  font-weight: bold;
  border: none;
  background-color: slategray;
  color: floralwhite;
}

.hero {
  position: relative;
  background-image: url("../assets/pennteam.avif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-color: lightslategray;
}


.hero-text {
  position: absolute;
  top: 20vh;
  left: 30vw;
  font-family: "Palatino Linotype";
  color: floralwhite;
  font-size: xx-large;
  font-weight: bolder;
}

/*.fixme {*/
/*  position: relative;*/
/*  top: -10vh;*/
/*  left:-5vw;*/
/*  background-color: blueviolet;*/
/*  padding-right: 100%;*/
/*  padding-left: 20%;*/
/*  padding-top: 10%;*/
/*  border-radius: 2%;*/
/*  opacity: 75%;*/
/*}*/

.hero-button {
  position: absolute;
  background-color: navy;
  color: floralwhite;
  border-radius: 10%;
  padding: 2rem;
  top: 40vh;
  left: 45vw;
  border: solid;
  border-color: floralwhite;
}

.under-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  background-color: blueviolet;
  height: 40vh;
  font-family: sans-serif;
}

.under-hero h2 {
  color: floralwhite;
  padding-right: 10%;
  padding-left: 10%;
}

.under-hero p {
  justify-content: center;
  color: floralwhite;
  padding-right: 10%;
  padding-left: 10%;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button-row ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-weight: bold;
}

.button-row ul > li {
  padding: 1rem;
}

.button-row button {
  /*display: flex;*/
  padding: 1rem;
  border-radius: 10%;
  font-weight: bold;
  border: none;
  background-color: slategray;
  color: floralwhite;
}